<!DOCTYPE html>

<head>
  <title>
    Temperate Converter
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
  </script>
</head>

<body class="main-body">

  <div class="form-group">
    <label for="units">Enter Temperature</label>
    <input type="number" [(ngModel)]="temper" />

    <br>
    <br>
    <label for="temps">Convert From</label>

    <select [(ngModel)]="unit1">
      <option *ngFor="let tempr of temps">{{tempr.name}}</option>
    </select>
    <label for="temps"> &nbsp; &nbsp; &nbsp;Convert to</label>

    <select [(ngModel)]="units">

      <option *ngFor="let tempr of temps">{{tempr.name}}</option>
    </select>

    <br>
    <br>

    <button class="btn-primary" (click)="convert()">Convert</button>
    <h3 *ngIf="flg">Converted {{unit1}} to {{units}}: {{temper1}}</h3>
  </div>


</body>